<div id="main_text">
  <h2>Let's talk</h2>
    <p class="smallfont">If you have a query about the services offered by James please get in touch. You are welcome to call or send an email.</p>
</div>

<div id="address">
  <p>James MacGregor</p>
  <p>West Calder</p>
  <p>West Lothian</p>
  <p>01506 872443</p>
  <p>macgregorjoinery@gmail.com</p>
</div>



