<div id="main_text">
  <h2>Let's talk</h2>
    <p class="smallfont">If you have a query about the services offered by James please get in touch. You are welcome to call or send an email.</p>
</div>

<div id="address">
  <p>James MacGregor</p>
  <p>West Calder</p>
  <p>West Lothian</p>
  <p class="bold">Mob: 07918 155 847</p>
  <a href="mailto:macgregorjoinery@gmail.com">macgregorjoinery@gmail.com</a>
</div>



